---
---

<div class="footer">
  <div class="footer-col">
    <b>Club Ciclista Bidebieta 2023 ©</b>
  </div>
</div>

<style>
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    padding: 3rem 2rem;
    background-color: #44749d;
  }

  .footer-col {
    display: flex;
    flex-direction: column;
  }

  .footer-col > b {
    font-family: 'TelefanteBlack';
    display: flex;
    color: #ffffff;
  }
</style>
