---
interface NavbarItem {
  label: string;
  url: string;
  active?: boolean;
}

interface Props {
  items: Array<NavbarItem>;
}

const { items } = Astro.props;
---

<nav class="navbar">
  <ul class="navbar-list">
    {
      items.map(({ label, url, active }) => (
        <li class={`navbar-item ${active ? "active" : ""}`}>
          <a href={url}>{label}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .navbar {
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 3rem;

    background-color: var(--background-light);
  }

  .navbar-list {
    display: inline-flex;
    gap: 1rem;
  }

  .navbar-item {
    padding: 0.8rem 1rem;
    border-radius: 3rem;

    font-weight: 600;

    transition: background-color 0.2s;
  }

  .navbar-item:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }

  .navbar-item.active {
    background-color: var(--brand-color);
  }

  .navbar-item.active > a {
    color: white;
  }
</style>

<script>
  const navbarItems = document.querySelectorAll(".navbar-item");

  if (navbarItems.length) {
    navbarItems.forEach((item) => {
      item.addEventListener("click", (clickEvent) => {
        navbarItems.forEach((navbarItem) => {
          navbarItem.classList.remove("active");
        });
        clickEvent.preventDefault();
        item.classList.add("active");
      });
    });
  }
</script>
