---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Concurso KM";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Este concurso consiste en ir contabilizando los kilometros de las salidas
    del calendario a las que vayan asistiendo los socios del Club Ciclista
    Bidebieta, de tal manera que al concluir la temporada del Club, el socio que
    más kilómetros haya recorrido será el ganador, teniendo una mención especial
    el 2º y 3º clasificado.
  </p>
  <p>
    <strong
      ><span
        >El concurso tiene varias condiciones indispensables de cumplir:</span
      ></strong
    >
  </p>
  <p>
    1ª- En el citado concurso solo pueden participar los socios del Club
    Ciclista Bidebieta-Basauri.
  </p>
  <p>
    2ª- Se contabilizarán los kilómetros que estén marcados por el calendario de
    la ruta correspondiente, ni más ni menos, de manera que si la ruta marca 100
    kms se contabilizarán 100 kms, independientemente de los kilómetros que le
    puedan salir a cada uno, o si por alguna incidencia o decisión del jefe de
    ruta, se tuviese que variar el recorrido.
  </p>
  <p>
    3ª- Se contabilizarán todos los kilómetros de la salida del dia, a todos los
    socios que lleguen antes del punto de control-avituallamiento con el grupo,
    de manera que todo socio que su una al grupo antes, no durante, al punto de
    control-avituallamiento, se le contará como si hubiese salido con el grupo
    desde la salida. En el caso de que un socio se incorporase al grupo después
    del punto de control-avituallamiento y acabe la marcha con el grupo, se le
    contará la mitad de los kilómetros de la salida del dia. En el supuesto de
    que un socio haga la salida con el grupo pero se separe antes del punto de
    control-avituallamiento, se le contará la mitad de los kilómetros de la
    salida del dia. De esta manera se le da importancia al punto de
    control-avituallamiento y se evita la polémica del horario de salida, se le
    dan la mitad de los kilómetros del dia a los socios que por motivos de
    trabajo, personales, etc, etc, se incorporen mas tarde o se vayan antes, sin
    entrar a contar si ese socio a hecho mas o menos kilómetros o si ha llegado
    mas o menos tarde.
  </p>
  <p>
    4ª- En este concurso <span
      ><strong>no se trata de correr más, si no de participar más</strong></span
    >, de manera de que si algún socio se comporta de manera poco solidaria con
    los compañeros o no hace caso de las indicaciones del jefe de ruta, podrá
    ser sancionado con la no contabilización de los kilómetros de la ruta del
    día correspondiente.
  </p>
  <p>
    5ª- El socio que participe en una marcha cicloturista<strong>
      en fin de semana</strong
    >, y siempre que este dentro del calendario del Club Ciclista Bidebieta, <strong
      >se le convalidará con los mismos kilómetros que tenga la marcha del Club
      de ese domingo</strong
    >, si se <strong
      >suspendiese la salida del Club por lluvia, no sumaría kilómetros</strong
    >. Si por <strong>avería mecánica o problemas físicos algún socio</strong> no
    terminase la marcha cicloturista, sumaría todos los kilómetros.
  </p>
  <p>
    6ª- El jefe de ruta será el encargado de tomar nota en la salida y en el
    punto de control-avituallamiento de los participantes en la ruta del día, y
    en su caso de las incidencias que hubiese durante el recorrido.
  </p>
</BaseLayout>
