---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "¿De donde Salimos?";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Salimos todos los sábados, domingos y festivos del aparcamiento que está
    después de las vias del tren en Urbi. Los domingos realizamos recorridos
    oficiales que puedes encontrar en nuestra sección de actividades.
  </p>
  <p>Animate a venir!, seguro que te lo pasas bien!!!</p>
</BaseLayout>
