---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "CC Bidebieta";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Bienvenidos a la presentación del Club Ciclista Bidebieta 2023.</p>
</BaseLayout>
