---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Patrocionadores";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Ayuntamiento de Basauri</p>
  <p>Gabinete Osteopatia Osasunalde</p>
</BaseLayout>
