---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "Calendario y Escapadas";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Todas las salidas semanales están anunciadas al público con carteles, en los
    puntos habituales, y el lugar de la salida de todas ellas es en el cruce de
    Icoa junto al paso a nivel de Urbi, en Basauri, Bizkaia.<br />
    Así mismo, aquí se indica el calendario de las marchas cicloturistas nacionales-internacionales
    que el Club tiene incluidas en el calendario de las temporadas.<br />
    En todas las marchas cicloturistas nacionales-internacionales incluidas en el
    calendario del Club, la junta directiva se encargará de organizar: el transporte,
    alojamiento, comida, inscripciones, etc, etc.
    <a href="http://bit.ly/3VVCiFe" target="_blank" rel="noopener noreferrer"
      >2023ko Egutegia / Calendario 2023</a
    >
  </p>

  <p>
    <iframe
      src="https://www.google.com/calendar/embed?src=hs6pa49fksfimcf5v8equn4vk8%40group.calendar.google.com&ctz=Europe/Madrid"
      width="450"
      height="400"
      frameborder="0"
      scrolling="no"
    >
    </iframe>
  </p>
</BaseLayout>
