@import 'reset-css';

:root {
  --brand-color: #44749d;
  --primary-color: #da3654;
  --secondary-color: #c6d4e1;
  --background-light: #ebe7e0;
  --backgrounf-enhance: #bdb8ad;
  --color-text: #000;
  --color-text-2: #3c4856c2;
}

@font-face {
  font-family: 'Recoleta';
  src: url('https://bejamas.io/fonts/recoleta/Recoleta-SemiBold--subset.woff2') format('woff2');
}


/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: 'TelefanteBlack';
  src: url('/fonts/TelefanteBlack.woff2') format('woff2');
  /* font-weight: normal;
  font-style: normal;
  font-display: swap; */
}



* {
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: var(--color-text);
}