---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "KM Lehuaketa";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Lehiaketa hau, Bidebieta Txirrindulari Klubeko bazkideak egiten dituen
    egutegiko irteeren kilometroak zenbatzean datza; horrela, Klubaren
    denboraldia amaitzean, kilometro gehien egin duen bazkidea izango da
    irabazlea, aipamen berezia izanda 2. eta 3. sailkatuak.
  </p>
  <p>
    <strong><span>Bete beharrezko baldintzak:</span></strong>
  </p>
  <p>
    1. Aipatutako lehiaketan Bidebieta-Basauri Txirrindularitza Klubeko
    bazkideek bakarrik har dezakete parte.
  </p>
  <p>
    2.- Ibilbidearen egutegiak markatuta dauden kilometroak zenbatuko dira, ez
    gehiago eta ez gutxiago. 100 km agertzen badira martxa batean 100 km
    zenbatuko dira, bakoitzari atera dakizkiokeen kilometroak alde batera
    utzita, edo ibilbidean moldaketarik egingo balitz gorabeheren bat edo
    erabakiren batengatik, ibilbidea aldatu egingo balitz.
  </p>
  <p>
    3.- Irteerako kilometro guztiak zenbatuko dira, kontrol-puntuan irten baino
    lehen iristen diren bazkide guztiei. Bazkide bat horniketa ondoren taldera
    batuko balitz eta taldearekin batera martxa bukatuz gero, irteerako
    kilometroen erdia kontatuko zaio. Bazkide batek taldearekin irteera egiten
    badu baina horniketa baino lehen banandu egiten bada, irteerako kilometroen
    erdia kontatuko zaio. Horrela, garrantzia ematen zaio horniketa puntuari,
    eta irteera ordua inguruan polemikak saihestuz. Kilometroen erdia emango
    zaio bazkideari, lan-arrazoiengatik, kontu pertsonalak, eta abar, bazkide
    horrek kilometro gehiago edo gutxiago egin dituen kontutan izan gabe.
  </p>
  <p>
    4.- Lehiaketaren helburua parte hartzea da baztertuz ibilbidea bizkorrago
    egin daitekeenik. Beraz helburua ez da korrika egitea baizik eta bazkideren
    batek taldekideekiko elkartasunaren kontra joango balitzibilbide-buruari
    kasu egin barik, ibilbidearen kilometroak ez litzaizkioke apuntatuko.
  </p>
  <p>
    5.- Asteburuan ZICLOTURISTA martxa batean bazkideak parte hartuko balitz,
    eta, betiere, Bidebieta Txirrindulari Klubaren egutegian egonda, igandeko
    Klubaren martxak dituen kilometroak kontatuko zaizkio. Bestalde, klubaren
    irteera bertan behera utziz gero, ez luke kilometrorik egingo. Matxura
    mekaniko edo arazo fisikoengatik bazkideren batek ZICLOTURISTA martxa
    amaitzen ez badu, kilometro guztiak kontatuko zaizkio.
  </p>
  <p>
    6.- Ibilbide-buruak hartuko du aintzakotzat eguneko irteeran nortzuk parte
    hartzen dutenen izena, eta ibilbidean zehar izandako gorabeherak kontuan
    hartuta.
  </p>
  <p>
    Sarien atala: Lehen sailkatuak maillot bereizgarria jasoko du, lehiaketarako
    bereziki landuta. Hurrengo denboraldi osoan, eta hurrengo denboraldian
    bakarrik, Bidebieta-Basauri Txirrindulari Klubeko kilometroaren txapeldun
    eta lider izateko eskubidea izango du. Lehen hiru sailkatuek diploma bana
    jasoko dute, eta bertan, sailkapen postua eta denboraldian egindako
    kilometro kopurua agertuko da. Zuzendaritza batzordeak banatuko ditu sariak,
    urte amaieran antolatuko den denboraldi bazkarian.
  </p>
</BaseLayout>
