---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "Nondik ateratzen gara?";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Larunbatetan, igandetan eta jaiegun guztietan irtetzen gara Urbi-n dagoen
    aparkalekutik; trenbide alboan. Igandeetan urteko egutegian aurkitzen diren
    ibilbideak betetzen ditugu.
  </p>

  <p>Ondo pasatuko duzu, animau eta etorri!!!</p>
</BaseLayout>
