---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "Bidebieta TE";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Ongi etorriak 2023ko Bidebieta Bizikleta Taldearen aurkezpenera.
    Eskerrak ematen dizkiegu beste urte batean ere babesleei, Basauriko Udala, eta bazkideei.</p>
</BaseLayout>
