---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "Babesleak";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Ayuntamiento de Basauri</p>
  <p>Gabinete Osteopatia Osasunalde</p>
</BaseLayout>
