---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "Barne Araudia";
---

<BaseLayout pageTitle={pageTitle}>
  <h4 style="text-align: center;">
    <span style="color: #0000ff;"
      ><strong
        ><span style="text-decoration: underline;"
          >REGLAMENTO DE FUNCIONAMIENTO INTERNO DE LOS SOCIOS,
          Y&nbsp;DE&nbsp;LAS ACTIVIDADES Y MARCHAS DEL CLUB CICLISTA
          BIDEBIETA&nbsp;</span
        ></strong
      ></span
    >
  </h4>

  <p>
    &nbsp;&nbsp;&nbsp; <strong>ARTICULO &nbsp;1</strong>: Para poder participar
    en las actividades del Club Ciclista Bidebieta, es indispensable&nbsp;<strong
      >SER SOCIO&nbsp;</strong
    >y se recomienda la&nbsp;<strong>Licencia Federativa</strong>.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO &nbsp;2</strong>: Todo cicloturista, que
    se disponga a participar en una salida o marcha cicloturista, recogida en el
    calendario del Club, estará en la obligación, en primer lugar de atenerse
    al&nbsp;<strong>CODIGO DE CIRCULACIÓN</strong>, y segundo, a las
    indicaciones que pudiera hacer el jefe de ruta, así como en prestarle ayuda
    en lo que fuera preciso. El Club Ciclista Bidebieta,&nbsp;<strong
      >no se hará responsable de ninguna sanción o accidente producido por un
      cicloturista perteneciente o no al Club, así como de personas ajenas a la
      marcha.</strong
    >
  </p>
  <p>
    <strong>&nbsp;&nbsp; ARTICULO&nbsp;&nbsp; 3</strong>: Los socios del Club
    Ciclista Bidebieta, deberán satisfacer la cuota anual, antes del 1 de Marzo
    del año en curso, cuya cuantia, será determinada por la junta directiva y
    refrendada en los presupuestos por la asamblea general de socios, a
    principio de temporada.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO&nbsp;&nbsp; 4</strong>: La junta
    directiva nombrará, un 1º y 2º&nbsp;<strong>JEFES DE RUTA</strong>,&nbsp;
    para cada salida o marcha cicloturista, los cuales serán los encargados de
    hacer cumplir el itinerario de la ruta, o de cambiarlo ante cualquier
    adversidad durante el trayecto, y en caso de incidente, accidente o
    adversidad, tendrán la facultad de tomar las decisiones que crean
    convenientes en cada momento, teniendo la obligación de informar a la junta
    directiva.
  </p>

  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO&nbsp;&nbsp; 5</strong>: Habrá una&nbsp;<strong
      >HOJA DE RUTA</strong
    >, en la que los jefes de ruta, apuntarán el nombre de los participantes y
    las posibles incidencias que pudieran ocurrir durante la salida o marcha
    cicloturista. En todas las salidas programadas en el calendario por el Club,
    habra un lugar de reagrupamiento, pudiendose incrementar a más dependiendo
    del criterio de los jefes de ruta.
  </p>

  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO&nbsp;&nbsp; 6</strong>: En las salidas
    del Club Ciclista Bidebieta podrán participar personas ajenas al Club, con
    la condición de que vengan acompañados de un socio del mismo, el cual se
    hará responsable de dicha persona. Asímismo, esta persona, al igual que
    todos los demás, deberá acatar las posibles decisiones que pudiera tomar el
    jefe de ruta.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO&nbsp;&nbsp; 7</strong>: La junta
    directiva se reserva el derecho de variar el recorrido de las marchas, así
    como las fechas y horarios de su celebración, debiendolo anunciar
    oficialmente a todos los socios.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO&nbsp;&nbsp; 8</strong>: Las marchas
    especiales, incluidas o no en el calendario de actividades del Club, se
    llevarán a cabo siempre que el número de participantes sea suficiente para
    su realización, siendo la junta directiva la que determine en última
    instancia la viabilidad de la misma tanto por cuestiones organizativas como
    económicas y dando preferencia a las recogidas en nuestro calendario.
  </p>
  <p>
    &nbsp;&nbsp;<strong
      >&nbsp;ARTICULO&nbsp;&nbsp; 9: En todas las salidas, marchas cicloturistas
      y marchas especiales</strong
    >, y siempre que se vaya&nbsp;<strong>en</strong>&nbsp;<strong
      >representación del Club Ciclista Bidebieta</strong
    >, se deberá vestir la equipación oficial del Club.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO &nbsp;10</strong>: El Club Ciclista
    Bidebieta, con&nbsp;el fin de incentivar la práctica del ciclismo y la
    asistencia a las salidas del calendario del Club, pone en marcha un&nbsp;<strong
      >concurso de asistencia por kilometraje&nbsp;</strong
    >en el cual participarán directamente todos los socios del Club. Las bases
    del citado concurso se darán a cada socio a principio de temporada.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;<strong>ARTICULO &nbsp;11</strong>: La junta directiva
    tiene la facultad de derogar o ampliar cuantos artículos sean necesarios
    para la buena marcha de al actividad cicloturista. Cualquier cambio
    sustancial o alteración de estos reglamentos, se hará público a los socios.
  </p>
</BaseLayout>
