---
//import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseLayout from "../../layouts/Base.astro";
const pageTitle = "Irteerak eta Joan etorriak";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    Asteroko irteera guztiak kartelen bidez zabaltzen ditugu, ohiko puntuetan,
    eta beti irtetzen gara Icoako bidegurutzean, Urbi pasabidearen ondoan,
    Basaurin, Bizkaian. Era berean, hemen aurkitu dezakezue klubak denboraldi
    egutegian antolaturik dauzkan nazioarteko martxak. Klubaren egutegian
    sartuta dauden nazioarteko martxetan zuzendaritza batzordea arduratuko da
    antolatzeaz: garraioa, ostatua, janaria, izen-emateak, eta abar. Aurten,
    berriz ere jarduerak izango ditugu, gure ohiko Triple Corona ibilbidea
    Ciclista Mirandes taldearekin, eta berrikuntza gisa Nafarroan irteerak
    egingo ditugu.
    <a href="http://bit.ly/3VVCiFe" target="_blank" rel="noopener noreferrer">
      2023ko Egutegia / Calendario 2023
    </a>
  </p>

  <p>
    <iframe
      src="https://www.google.com/calendar/embed?src=hs6pa49fksfimcf5v8equn4vk8%40group.calendar.google.com&ctz=Europe/Madrid"
      width="450"
      height="400"
      frameborder="0"
      scrolling="no"
    ></iframe>
  </p>
</BaseLayout>

